<div id="ProfileManager" class="pure-g">
    <div class="pure-u-1-1">
        <div id="recaptcha-container"></div>

        <h3>ProfileManager</h3>
        {{ user }}
        <hr />
        <input type="text" v-model="phone" placeholder="phone" />
        <button v-on:click="login">login</button>
        <input type="text" v-model="code" placeholder="code" />
        <button v-on:click="confirmCode">confirm</button>
        <hr />
        <button v-on:click="getProfile">getProfile</button>
        {{ profile }}
        <hr />
    </div>
</div>
<script>
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    new Vue({
        el: '#ProfileManager',
        data: {
            user: {},
            profile: {},
            phone: '+84987568815',
            code: '',
            configId: '',
            configValue: '',
            configs: {}
        },
        methods: {
            login: function() {
                var appVerifier = window.recaptchaVerifier;
                firebase
                    .auth()
                    .signInWithPhoneNumber(this.phone, appVerifier)
                    .then(function(confirmationResult) {
                        // SMS sent. Prompt user to type the code from the message, then sign the
                        // user in with confirmationResult.confirm(code).
                        window.confirmationResult = confirmationResult;
                        console.log(confirmationResult);
                    })
                    .catch(function(error) {
                        // Error; SMS not sent
                        // ...
                        console.error(error);
                    });
            },
            confirmCode: function() {
                confirmationResult
                    .confirm(this.code)
                    .then(function(result) {
                        // User signed in successfully.
                        var user = result.user;
                        console.log(user);
                        // ...
                    })
                    .catch(function(error) {
                        // User couldn't sign in (bad verification code?)
                        // ...
                        console.error(error);
                    });
            },
            getProfile: function() {
                var self = this;
                Apis.get('/users/_me')
                    .then(function(reponse) {
                        self.profile = reponse.data;
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            },
            setConfig: function() {
                var self = this;
                Apis.put('/configs/' + self.configId, { value: self.configValue })
                    .then(function(reponse) {
                        self.configs = reponse.data;
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            },
            getConfig: function() {
                var self = this;
                Apis.get('/configs/' + self.configId)
                    .then(function(reponse) {
                        self.configs = reponse.data;
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            },
            getMobileConfigs: function() {
                var self = this;
                Apis.get('/configs')
                    .then(function(reponse) {
                        self.configs = reponse.data;
                    })
                    .catch(function(error) {
                        console.error(error);
                    });
            }
        },
        mounted: function() {
            const self = this;
            firebase.auth().onAuthStateChanged(function(user) {
                self.user = user;
                if (user) {
                    user.getIdToken(true)
                        .then(function(token) {
                            ID_TOKEN = token;
                            console.log('ID_TOKEN', ID_TOKEN);
                        })
                        .catch(function(error) {
                            console.error(error);
                        });
                }
            });
        }
    });
</script>
