<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-analytics.js"></script>

<link
    rel="stylesheet"
    href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
    integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
    crossorigin="anonymous"
/>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-firestore.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: 'AIzaSyCUGyBWivK1f3ZEDjOL-10jnyop4l3ojjs',
        authDomain: 'oddjob-staging.firebaseapp.com',
        databaseURL: 'https://oddjob-staging.firebaseio.com',
        projectId: 'oddjob-staging',
        storageBucket: 'oddjob-staging.appspot.com',
        messagingSenderId: '749296902787',
        appId: '1:749296902787:web:9af1d1593a3dc23f0631b6',
        measurementId: 'G-E24MS4GSL9'
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: blue;
    }
</style>

<script>
    // firebase.auth().languageCode = 'it';
    var SERVER_URL = '<%= appCtx.ini.server.appUrl %>';
    // var SERVER_URL = 'http://api.oddjob-staging.vn-nest.tech';
    var ID_TOKEN = '';
    var Apis = {};
    Apis.get = function(path, params) {
        return axios({
            method: 'get',
            url: SERVER_URL + path,
            params: params,
            headers: {
                authorization: ID_TOKEN
            }
        });
    };
    Apis.post = function(path, values) {
        return axios({
            method: 'post',
            url: SERVER_URL + path,
            data: values,
            headers: {
                authorization: ID_TOKEN
            }
        });
    };
    Apis.put = function(path, values) {
        return axios({
            method: 'put',
            url: SERVER_URL + path,
            data: values,
            headers: {
                authorization: ID_TOKEN
            }
        });
    };
    console.log('api', Apis);
</script>

<script>
    console.log('api', Apis);
</script>
