<!DOCTYPE html>
<html>
    <head>
        <title>HTML Tutorial</title>

        <%- include('./parts/libs.html'); %>
    </head>
    <body>
        <h1>BASIC</h1>
        <%- include('./sections/profile.html'); %>
        <div id="Test">
            <h3>Configs</h3>
            <hr />
            <input type="text" v-model="configId" placeholder="configId" />
            <input type="text" v-model="configValue" placeholder="configValue" />
            <button v-on:click="setConfig">setConfig</button>
            <button v-on:click="getConfig">getConfig</button>
            <button v-on:click="getMobileConfigs">getMobileConfigs</button>
            {{ configs }}
            <hr />
        </div>
        <div id="CategoryManager">
            <h4>CategoryManager</h4>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div>
                        <input type="text" v-model="category.id" placeholder="id" />
                        <button v-on:click="getById">getById</button> <br />

                        name:<input type="text" v-model="category.name" /> <br />
                        status:<input type="text" v-model="category.status" /> <br />
                        viewPriority:<input type="text" v-model="category.viewPriority" /> <br />
                        totalProvider:<input type="text" v-model="category.totalProvider" readonly /> <br />
                        logo:<input type="file" accept="image/*" ref="CategoryImageInput" /> <br />
                        <button v-on:click="update">update</button>
                        <button v-on:click="create">create</button> <br />
                    </div>
                    <hr />
                    {{ result }}
                </div>
                <div class="pure-u-1-2">
                    <button v-on:click="getCategories">getCategories</button> <br />
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th>_id</th>
                                <th>name</th>
                                <th>status</th>
                                <th>viewPriority</th>
                                <th>totalProvider</th>
                                <th>logo</th>
                            </tr>
                        </thead>
                        <tr v-for="c of categories">
                            <td v-html="c._id"></td>
                            <td v-html="c.name"></td>
                            <td v-html="c.status"></td>
                            <td v-html="c.viewPriority"></td>
                            <td v-html="c.totalProvider"></td>
                            <td v-html="c.logo"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
        </div>
        <script>
            new Vue({
                el: '#Test',
                data: {
                    user: {},
                    profile: {},
                    phone: '+84987568815',
                    code: '',
                    configId: '',
                    configValue: '',
                    configs: {}
                },
                methods: {
                    setConfig: function() {
                        var self = this;
                        Apis.put('/configs/' + self.configId, { value: self.configValue })
                            .then(function(reponse) {
                                self.configs = reponse.data;
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    },
                    getConfig: function() {
                        var self = this;
                        Apis.get('/configs/' + self.configId)
                            .then(function(reponse) {
                                self.configs = reponse.data;
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    },
                    getMobileConfigs: function() {
                        var self = this;
                        Apis.get('/configs')
                            .then(function(reponse) {
                                self.configs = reponse.data;
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    }
                },
                mounted: function() {}
            });

            new Vue({
                el: '#CategoryManager',
                data: {
                    category: {
                        id: '',
                        name: '',
                        status: '',
                        totalProvider: 0,
                        logo: '',
                        viewPriority: 0
                    },
                    categories: [],
                    result: {}
                },
                methods: {
                    getById: function() {
                        var self = this;
                        Apis.get('/categories/' + self.category.id)
                            .then(function(reponse) {
                                self.result = reponse.data;

                                if (reponse.data.code === 'success') {
                                    var obj = reponse.data.results[0];
                                    self.category.name = obj.name;
                                    self.category.status = obj.status;
                                    self.category.totalProvider = obj.totalProvider;
                                    self.category.logo = obj.logo;
                                    self.category.viewPriority = obj.viewPriority;
                                }
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    },
                    getCategories: function() {
                        var self = this;
                        Apis.get('/categories')
                            .then(function(reponse) {
                                self.result = reponse.data;
                                self.categories = self.result.results;
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    },
                    update: function() {
                        var self = this;

                        this.uploadFile(function(error, fileInfo) {
                            if (error) {
                                console.error(error);
                                return;
                            }
                            console.log('fileInfo', fileInfo);
                            self.category.logo = fileInfo;
                            Apis.put('/categories/' + self.category.id, self.category)
                                .then(function(reponse) {
                                    self.result = reponse.data;
                                })
                                .catch(function(error) {
                                    console.error(error);
                                });
                        });
                    },
                    create: function() {
                        var self = this;
                        Apis.post('/categories', self.category)
                            .then(function(reponse) {
                                self.result = reponse.data;
                            })
                            .catch(function(error) {
                                console.error(error);
                            });
                    },
                    uploadFile: function(cb) {
                        var self = this;

                        var input = self.$refs.CategoryImageInput;
                        if (input.files && input.files.length) {
                            var file = input.files[0];
                            var type = file.type;
                            self.initUpload(type, function(error, details) {
                                if (error) {
                                    cb(error);
                                    return;
                                }

                                var uploadUrl = details.uploadUrl;

                                // const xhr = new XMLHttpRequest();
                                // xhr.open('put', uploadUrl);
                                // // xhr.setRequestHeader('Content-Type', file.type);
                                // xhr.onload = () => {
                                //     if (xhr.status !== 200) {
                                //         return cb(new Error(`Request failed. Status: ${xhr.status}. Content: ${xhr.responseText}`));
                                //     }

                                //     cb(null, file);
                                // };

                                // var formData = new FormData();
                                // formData.append('file', file);
                                // xhr.send(formData);
                                // console.log('gogogogo');

                                // var uploadUrl = details.uploadUrl;
                                // var formData = new FormData();
                                // formData.append('file', file);

                                axios
                                    .put(uploadUrl, file, {
                                        headers: {
                                            'Content-Type': file.type
                                            // 'Content-Length': file.size
                                        }
                                    })
                                    .then(function(info) {
                                        cb(null, details._id);
                                    })
                                    .catch(function(error) {
                                        cb(error);
                                    });
                            });
                            return;
                        }
                        cb();
                    },
                    initUpload: function(mineType, cb) {
                        var self = this;
                        Apis.post('/files', { mineType: mineType })
                            .then(function(response) {
                                self.result = response.data;
                                if (response.data.code === 'success') {
                                    return cb(null, response.data.results[0]);
                                }
                                cb(response);
                            })
                            .catch(function(error) {
                                console.error(error);
                                cb(response);
                            });
                    }
                },
                mounted: function() {
                    const self = this;
                }
            });
        </script>
    </body>
</html>
